.CodeMirror {
  height: 800px !important;
}

.boxed {
  color: white;
  background-color: #304148;
  word-wrap: break-word;
}

.file-name {
  color: white;
  background-color: #304148;
}

.interpreter-input-top {
  color: white;
  background-color: #45565e;
}

.int-output div {
  white-space: pre-wrap;
}
