.CodeMirror {
  height: 600px !important;
}

.boxed {
  height: 600px !important;
  color: white;
  background-color: #304148;
  word-wrap: break-word;
}

.int-output div {
  white-space: pre-wrap;
}
